<h1>About Us</h1>
<h3>NEW FORCE IN MEDIA</h3>
<p>Bustle delivers everything you want to know, see, and read right now because you’re passionate about making a difference, making connections, and, more than anything else, making your mark.
Whether you’re searching for what’s happening in politics, what’s streaming this weekend, where to find size-inclusive clothing, ways to give back, or how much coffee to put in your coffee, we’re here to help you explore every topic that interests you.</p>

<h3>BUSTLE IS WRITTEN BY A DIVERSE TEAM</h3>
<p>Our writers, like our readers, are from diverse backgrounds with an endless range of interests. What we all have in common with each other is that we are insatiably curious about the world.
You care about what’s working and what isn’t, about fashion, politics, technology, celebrities, health, beauty, work, sex, friendship, food, and more. What we care about is providing these stories in a way that’s smart, informative, fun, and supportive — of your relationships, your choices, your goals, and you.</p>
